@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
}

.main-header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: linear-gradient(to right, hsl(0, 68%, 73%), hsl(103, 76%, 56%));
}

.main-header__navbar {
  display: flex;
}

.main-header__navbar ul {
  display: flex;
}

.main-header__navbar li {
  list-style-type: none;
  margin: 0.5rem 1rem;
}

.main-header__navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
}

.main-header__navbar a:hover {
  color: hsl(0, 68%, 73%);
}

.main-content {
  height: 100vh;
}

.footer-links {
  text-align: center;
  background: linear-gradient(to right, hsl(0, 68%, 73%), hsl(103, 76%, 56%));
}

.footer-links ul {
  display: flex;
  justify-content: center;
}

.footer-links li {
  list-style-type: none;
  margin: 0.6rem;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: hsl(0, 68%, 73%);
}
